.card-preview__title {
  max-width: 291px;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  margin-top: 10px;
  color: #fff;
}

@media screen and (max-width: 650px) {
  .card-preview__title {
    max-width: 240px;
  }
}
