.header__logo {
  max-width: 142px;
  max-height: 33px;
  background-size: cover;
}

@media screen and (max-width: 920px) {
  .header__logo {
    margin-left: 40px;
  }
}

@media screen and (max-width: 650px) {
  .header__logo {
    max-width: 104px;
    max-height: 24px;
    margin-left: 27px;
  }
}
