.profile__info {
  display: flex;
  justify-content: center;
  align-items: baseline;
  max-width: 550px;
}

@media screen and (max-width: 650px) {
  .profile__info {
    max-width: 280px;
    margin-bottom: 36px;
  }
}
