.page {
  min-width: 320px;
  max-width: 1280px;
  font-family: 'Inter', 'Arial', sans-serif;
  color: #fff;
  background-color: #000;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 60px;
  box-sizing: border-box;
  overflow-x: hidden;
}

@media screen and (max-width: 650px) {
  .page {
    padding-top: 28px;
    padding-bottom: 36px;
  }
}
