.popup__title {
  padding: 0;
  margin: 0;
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
}

@media screen and (max-width: 650px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
  }
}
