.popup__content {
  display: flex;
  flex-direction: column;
  min-width: 430px;
  min-height: 330px;
  background-color: #fff;
  color: #000;
  padding: 35px;
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  box-sizing: border-box;
}

@media screen and (max-width: 650px) {
  .popup__content {
    min-width: 282px;
    min-height: 322px;
    top: 155px;
    padding: 25px;
  }
}
