.popup__content {
  display: flex;
  flex-direction: column;
  min-width: 430px;
  background-color: #fff;
  color: #000;
  padding: 35px;
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
}

@media screen and (max-width: 650px) {
  .popup__content {
    min-width: 282px;
    position: absolute;
    top: 155px;
    padding: 25px;
  }
}
