.profile__btn-add {
  width: 150px;
  height: 50px;
  background-image: url(../../../images/addButton__size-normal.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000;
  border: none;
  cursor: pointer;
  outline: none;
  flex-shrink: 0;
}

@media screen and (max-width: 650px) {
  .profile__btn-add {
    width: 282px;
    background-image: url(../../../images/addButton__size-big.svg);
  }
}
