.profile__btn-edit {
  width: 24px;
  height: 24px;
  background-image: url(../../../images/editButton__size-normal.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 18px;
}

@media screen and (max-width: 650px) {
  .profile__btn-edit {
    width: 18px;
    height: 18px;
    background-image: url(../../../images/editButton__size-small.svg);
    margin-left: 10px;
  }
}
