.footer__copyright {
  max-width: 318px;
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
  color: #545454;
}

@media screen and (max-width: 650px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }
}
