.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 36px;
}

@media screen and (max-width: 650px) {
  .profile {
    flex-direction: column;
    margin-top: 38px;
  }
}
