.header__logo {
  width: 142px;
  height: 33px;
  background-image: url(../../../images/logo.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 920px) {
  .header__logo {
    margin-left: 40px;
  }
}

@media screen and (max-width: 650px) {
  .header__logo {
    width: 104px;
    height: 25px;
    background-image: url(../../../images/logo-small.svg);
    margin-left: 27px;
  }
}
