.page__container {
  max-width: 880px;
  margin: 0 auto;
}

/* @media screen and (max-width: 920px) {
  .page__container {
    max-width: 660px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 650px) {
  .page__container {
    max-width: 282px;
    margin: 0 auto;
  }
} */
