.popup__btn-close {
  width: 40px;
  height: 40px;
  background-image: url(../../../images/close-btn.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  .popup__btn-close {
    width: 26px;
    height: 26px;
    top: -45px;
    right: 10px;
  }
}
