.profile__info-job {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  padding: 0;
  margin-top: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 650px) {
  .profile__info-job {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
