.card__icon {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/icon-like.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.card__icon:hover {
  opacity: 0.5;
}
