.card__icon {
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.card__icon:hover {
  opacity: 0.5;
}
