.profile__info-name {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 920px) {
  .profile__info-name {
    font-size: 31px;
    line-height: 35px;
  }
}

@media screen and (max-width: 650px) {
  .profile__info-name {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    margin-top: 25px;
  }
}
