.popup__btn-save {
  width: 100%;
  height: 50px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  margin-top: 20px;
}

.popup__btn-save:hover {
  opacity: 0.8;
}
