.profile__btn_type_add {
  width: 150px;
  height: 50px;
  background-image: url(../../../../images/addButton__size-normal.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.profile__btn_type_add:hover {
  opacity: 0.6;
}

@media screen and (max-width: 650px) {
  .profile__btn_type_add {
    width: 282px;
    background-image: url(../../../../images/addButton__size-big.svg);
  }
}
