.card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 17px;

  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 920px) {
  .card {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}

@media screen and (max-width: 650px) {
  .card {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
